.container {
    max-width: 1300px;
    margin: 0 auto;
}

.App {
    margin: 40px auto 20px;
    text-align: center;
    max-height: 570px;
    overflow-y: auto;
    box-shadow: 0 0 8px 0 rgba(34, 60, 80, 0.6);
    padding: 10px 0;
}